/* common styles */
body {
  font-family: "Poppins", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #dd0000;
  padding: 16px 25px;
}
header,
main {
  max-width: 1420px;
  margin: 100px auto;
}

/* header styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  background-color: #161616;
  color: white;
  align-items: center;
  gap: 80px;
  padding-top: 30px;
  margin: 30px auto;
  border-radius: 15px;
}
.banner-left {
  margin-left: 120px;
}
.banner-title {
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 20px;
}
.banner-description {
  margin-bottom: 20px;
}
.banner-right img {
  display: block;
}

/* live game section styles */
.live-game-section {
  display: flex;
  gap: 55px;
}

/* left side styles */
.live-game-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: #161616;
  box-sizing: content-box;
  border-radius: 10px;
  height: fit-content;
}
.live-game-left .btn-primary:nth-child(1) {
  background-color: white;
  color: black;
}
.live-game-left .btn-primary:nth-child(2) {
  background-color: white;
  color: black;
}

/* right side styles */
.live-game-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
}
.card {
  box-shadow: 0 0 1px 0;
  border-radius: 6px;
}
.card-body {
  margin: 20px;
}
.card-footer {
  display: flex;
  gap: 40px;
  align-items: center;
}
.card-footer span {
  color: hsla(0, 0%, 9%, 0.4);
}

.live-game-right button {
  border-radius: 5px;
  padding: 4px 16px;
  border: 2px solid #161616;
  font-weight: 500;
}
.live-game-right img {
  border-radius: 8px 8px 0 0;
}
.live-game-right h5 {
  font-size: 18px;
  font-weight: 600;
  color: #161616;
}

/* footer styles */
footer {
  background-color: #161616;
  text-align: center;
  height: 450px;
}
footer h3 {
  padding-top: 100px;
  padding-bottom: 80px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}
footer ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
li a {
  color: #b9b9b9;
}

/* responsive styles for tablet */
@media (min-width: 576px) and (max-width: 992px) {
  header,
  main {
    max-width: 780px;
    margin: 50px auto;
  }

  .banner-container {
    gap: 10px;
  }
  .banner-title {
    font-size: 50px;
    line-height: 50px;
  }
  .banner-container img {
    display: block;
    height: 340px;
    width: 323px;
  }
  .banner-left {
    margin-left: 20px;
  }

  .live-game-section {
    flex-direction: column;
    gap: 30px;
  }
  .live-game-left {
    width: 100%;
    flex-direction: row;
    background-color: transparent;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .live-game-left .btn-primary:nth-child(1),
  .live-game-left .btn-primary:nth-child(2) {
    border: 1px solid #ffa60048;
    flex: 1;
  }
  .live-game-left .btn-primary:nth-child(3) {
    flex: 1;
  }

  /* right side */
  .live-game-right {
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;
  }

    footer h3 {
  padding-top: 100px;
  padding-bottom: 50px;
}
}

/* responsive styles for mobile*/
@media (max-width: 576px) {
  header,
  main {
    max-width: 540px;
    margin: 0px auto;
  }
  .banner-container {
    flex-direction: column;
    /* margin-top: 10px; */
    border-radius: 5px;
    /* width: 95%; */
    padding: 20px 20px 0 20px;
  }
  .banner-left {
    margin-left: 0px;
  }
  .banner-title {
    font-size: 50px;
  }

  /* live section */
  .live-game-section {
    flex-direction: column;
    /* gap: 55px; */
  }
  .live-game-left {
    width: 90%;
    flex-direction: column;
    background-color: transparent;
    border-radius: 10px;
    /* justify-content: space-between; */
  }
  .live-game-left .btn-primary:nth-child(1),
  .live-game-left .btn-primary:nth-child(2) {
    border: 1px solid #ffa60048;
  }

  .live-game-right {
    grid-template-columns: repeat(1, 1fr);
    gap: 56px;
  }
  .live-game-left {
    padding: 0;
    margin: 0 auto;
  }
  footer h3 {
  padding-top: 50px;
  padding-bottom: 20px;
}
  footer ul {
  flex-direction: column;
}
}
